<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Confluence.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <userSettings>
        <Confluence.Properties.Settings>
            <setting name="BaseAddress" serializeAs="String">
                <value>https://helixleisure.atlassian.net</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>Ebenz@embedcard.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Kaspersky1234wiki</value>
            </setting>
            <setting name="IsTesting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WikiBaseUrl" serializeAs="String">
                <value>https://helixleisure.atlassian.net/wiki</value>
            </setting>
            <setting name="SpaceName" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="ImportFrom" serializeAs="String">
                <value>F:\SharepointDownload\softwaredev</value>
            </setting>
        </Confluence.Properties.Settings>
    </userSettings>
</configuration>